:root {
  --main-color: #e6ef4e;
  --text-color: #07071d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: color-mix(in oklab, var(--main-color) 60%, white);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: color-mix(in oklab, var(--main-color) 60%, black 40%);
}

.container {
  height: 100dvh;
  background-color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

/* settings container */
.settings-container {
  position: absolute;
  height: 100%;
  width: 300px;
  transition: 500ms;
  z-index: 5;
  left: 0;
}

.settings-btn {
  position: absolute;
  top: 1rem;
  right: 5px;
  background-color: var(--main-color);
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  border: none;
}

.settings-btn:hover,
.settings-btn:active {
  outline: none;
  cursor: pointer;
}

.settings-btn i {
  color: var(--text-color);
}

.settings {
  background-color: var(--main-color);
  margin-top: auto;
  position: absolute;
  height: 100%;
  padding: 1rem 3rem;
  transition: 500ms;
  overflow-y: auto;
  overflow-x: visible;
  direction: rtl;
}

.settings * {
  direction: ltr;
}

.settings h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text-color);
}

.settings form {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.settings form select {
  background-color: color-mix(in oklab, var(--main-color) 60%, white);
  color: color-mix(in oklab, var(--text-color), black 80%);
  font-weight: 600;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.settings form select:not(:last-child) {
  margin-bottom: 1rem;
}

.settings form label {
  margin-bottom: 0.5rem;
}

.board {
  background-color: color-mix(in oklab, var(--text-color), black 60%);
  display: grid;
  grid-template-columns: repeat(var(--board-col), 1fr);
  grid-template-rows: repeat(var(--board-col), 1fr);
  width: var(--length);
  padding: 0.5rem;
  height: var(--length);
  transition-duration: 500ms;
}

.box {
  background-color: color-mix(in oklab, var(--text-color) 80%, white);
  color: color-mix(in oklab, var(--text-color), black 60%);
  padding: 1rem;
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  line-height: 0.1;
  user-select: none;
  cursor: pointer;
}

.highlighted {
  background-color: color-mix(in oklab, var(--main-color), white 40%);
}

/* popups styling */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.tutorial {
  position: absolute;
  border: 5px solid color-mix(in oklab, var(--main-color), black 60%);
  border-radius: 20px;
  width: 90%;
  height: 60%;
}

.tutorial-content {
  position: relative;
  height: 100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  animation: popupAppear 0.5s;
}

.tutorial img {
  border-radius: 20px;
  max-width: 100%;
}

.tutorial button {
  position: absolute;
  bottom: -25px;
  width: 45%;
  left: calc(50% - 22.5%);
  height: 50px;
  background-color: color-mix(in oklab, var(--main-color), black 60%);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  color: color-mix(in oklab, var(--main-color) 10%, white);
}

.tutorial .text {
  text-align: center;
  padding: 1rem;

  @media (min-width: 700px) {
    max-width: 60%;
    text-align: left;
  }
}

.tutorial .text h3 {
  font-family: "Concert One", sans-serif;
  font-size: 40px;
  margin-bottom: 40px;
}

.tutorial .text p {
  font-size: 20px;
  font-family: "Noto Sans", cursive;
  max-width: 500px;
  margin-bottom: 15px;
  line-height: 1.5;
}

@media (max-width: 700px) {
  .tutorial-content img {
    display: none;
  }
}

/* ##################### */
/* #### Animations #### */
/* ##################### */
@keyframes popupAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popupDisappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
