:root {
  --main-color: #e6ef4e;
  --text-color: #07071d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: color-mix(in oklab, var(--main-color) 60%, white);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: color-mix(in oklab, var(--main-color) 60%, black 40%);
}

.container {
  height: 100dvh;
  background-color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}

/* settings container */
.settings-container {
  position: absolute;
  height: 100%;
  width: 300px;
  transition: 500ms;
  z-index: 5;
  left: 0;
}

.settings-btn {
  position: absolute;
  top: 1rem;
  right: 5px;
  background-color: var(--main-color);
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  border: none;
}

.settings-btn:hover,
.settings-btn:active {
  outline: none;
  cursor: pointer;
}

.settings-btn i {
  color: var(--text-color);
}

.settings {
  background-color: var(--main-color);
  margin-top: auto;
  position: absolute;
  height: 100%;
  padding: 1rem 3rem;
  transition: 500ms;
  overflow-y: auto;
  overflow-x: visible;
  direction: rtl;
}

.settings * {
  direction: ltr;
}

.settings h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--text-color);
}

.settings form {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.settings form select {
  background-color: color-mix(in oklab, var(--main-color) 60%, white);
  color: color-mix(in oklab, var(--text-color), black 80%);
  font-weight: 600;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.settings form select:not(:last-child) {
  margin-bottom: 1rem;
}

.settings form label {
  margin-bottom: 0.5rem;
}

.board {
  background-color: color-mix(in oklab, var(--text-color), black 60%);
  display: grid;
  grid-template-columns: repeat(var(--board-col), 1fr);
  grid-template-rows: repeat(var(--board-col), 1fr);
  width: var(--length);
  padding: 0.5rem;
  height: var(--length);
  transition-duration: 500ms;
}

.box {
  background-color: color-mix(in oklab, var(--text-color) 80%, white);
  color: color-mix(in oklab, var(--text-color), black 60%);
  padding: 1rem;
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  line-height: 0.1;
  user-select: none;
  cursor: pointer;
}

.highlighted {
  background-color: color-mix(in oklab, var(--main-color), white 40%);
}
